.DS_Store
led-driver-pcb/v1.0/led-driver-cache.lib
led-driver-pcb/v1.0/led-driver.bak
led-driver-pcb/v1.0/led-driver.kicad_pcb-bak
led-driver-pcb/v1.0/_autosave-led-driver.kicad_pcb
led-driver-pcb/v1.0/*.pdf
led-driver-pcb/v1.0/*.ps
firmware/*.pdf
firmware/led-ctrl/*.sym
firmware/led-ctrl/*.map
firmware/led-ctrl/*.lss
firmware/led-ctrl/*.hex
firmware/led-ctrl/*.elf
firmware/led-ctrl/*.eep
firmware/led-ctrl/*.dep
firmware/led-ctrl/*.lst
firmware/led-ctrl/*.o
firmware/cdc_pwm/*.sym
firmware/cdc_pwm/*.map
firmware/cdc_pwm/*.lss
firmware/cdc_pwm/*.hex
firmware/cdc_pwm/*.elf
firmware/cdc_pwm/*.eep
firmware/cdc_pwm/*.dep
firmware/cdc_pwm/*.lst
firmware/cdc_pwm/*.o
